<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="me.juhezi.module.base">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <activity android:name="me.juhezi.module.base.view.activity.DefaultActivity" />

    </application>

</manifest>
